<div id="content">
  <h1>CPIFP BANK</h1>
  <h2>Gestion de clientes</h2>

  <p-table
    [value]="clientes"
    [paginator]="true"
    [rows]="8"
    styleClass="p-datatable-striped"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>DNI</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Teléfono</th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-c>
      <tr>
        <td>{{ c.dni }}</td>
        <td>{{ c.nombre }}</td>
        <td>{{ c.direccion }}</td>
        <td>{{ c.telefono }}</td>
        <td>
          <button
            pButton
            type="button"
            icon="pi pi-pencil"
            class="p-button-rounded"
            (click)="editaCliente()"
            title="Edita cliente"
          ></button>
        </td>
        <td>
          <button
            pButton
            type="button"
            icon="pi pi-trash"
            class="p-button-rounded"
            (click)="borraCliente(c._id)"
            title="Borra cliente"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Botón para añadir cliente -->

  <div class="add-button">
    <p-speedDial (click)="muestraFormulario = !muestraFormulario"></p-speedDial>
  </div>

  <!-- Formulario de cliente para añadir y editar -->

  <p-dialog
    header="Cliente"
    [(visible)]="muestraFormulario"
    [style]="{width: '28vw'}">
    
    <form [formGroup]="formularioCliente" (ngSubmit)="submitCliente()">

      <div id="form-fields">
        <div class="field-wrap">
          <label for="dni">DNI: &nbsp;</label>
          <input id="dni" type="text" formControlName="dni">
        </div>
        
        <div class="field-wrap">
          <label for="nombre">Nombre: </label>
          <input id="nombre" type="text" formControlName="nombre">
        </div>
        
        <div class="field-wrap">
          <label for="direccion">Direccion: </label>
          <input id="direccion" type="text" formControlName="direccion">
        </div>

        <div class="field-wrap">
          <label for="telefono">Telefono: </label>
          <input id="telefono" type="text" formControlName="telefono">
        </div>
      </div>
      
      <hr>

      <p-footer>
        <p-button
          type="submit"
          label="Aceptar"
          styleClass="p-button-success">
        </p-button>

        <p-button
          (click)="muestraFormulario = false"
          label="Cancelar"
          styleClass="p-button-text"
        >
        </p-button>
      </p-footer>
    </form>
  </p-dialog>
</div>
